@font-face {
  font-family: "font1";
  src: url("fonts/YesYesNo.ttf");
}

span {
  font-family: font1;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.playground {
  width: 100vw;
  height: 100vh;
  background-image: url("img/sky.png");
  background-position: center;
}

#hot {
  font-size: 62px;
  padding: 0%;
  color: #00ff02;
}

.title {
  color: #fff;
  text-align: center;
}
.title span {
  padding: 5%;
  color: #00ff02;
  font-family: font1;
  font-size: 7em;
  z-index: 1;
}

.mountains,
.smoke,
.dog {
  padding: 0;
  position: relative;
  width: 100vw;
  height: 79.5vh;
  text-align: center;
}

.mountains {
  z-index: 2;
}
.mountains img {
  position: relative;
  width: 100vw;
  height: 79.7vh;
  z-index: 2;
  transform: perspective(500px) translate3d(0px, 4px, 0px);
  animation: mount 3s ease-in infinite alternate;
}

.smoke {
  top: -75vh;
  z-index: 4;
  max-height: 50vh;
}
.smoke img {
  position: relative;
  width: 100vw;
  height: 75vh;
  z-index: 4;
  animation: smokey 3s ease-in infinite alternate;
}

.dog {
  top: -135.1vh;
  z-index: 5;
}
.dog img {
  position: relative;
  width: 100vw;
  transform: perspective(500px) translate3d(0px, 3px, 0px);
  /*animation: dog 3s ease-in infinite alternate;*/
}

@keyframes mount {
  from {
    transform: perspective(500px) translate3d(0px, 4px, 0px);
  }
  to {
    transform: perspective(500px) scale3d(0.99, 1, 1) translate3d(3px, 4px, 0px);
  }
}

@keyframes smokey {
  from {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
  }
  to {
    transform: translate3d(-10px, 20px, 0px) scale3d(0.85, 0.85, 1)
      perspective(500px) translateZ(50px);
  }
}

@-webkit-keyframes smokey {
  from {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
  }
  to {
    transform: translate3d(-10px, 20px, 0px) scale3d(0.85, 0.85, 1)
      perspective(500px) translateZ(50px);
  }
}

@keyframes dog {
  from {
    transform: perspective(500px) translate3d(0px, 0px, 0px);
  }
  to {
    transform: perspective(500px) translate3d(0px, 0px, -0px);
  }
}
